* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #FBF6F6;
}

.slid1 {
  margin: 0 auto;
  width: auto;
  height: 1192px;
  justify-content: space-between;
}
.slid1_container {
  width: 502px;
  height: 22px;
  margin: 0 auto;
  margin-top: 97px;
  position: relative;
  padding-left: 782px;
}
.slid1_container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.slid1_container ul a {
  text-decoration: none;
  color: #504949;
}
.slid1_btn:hover {
  color: #252222;
}
.slid1_text1 {
  width: 228px;
  height: 22px;
  margin: 0 auto;
  margin-top: 146px;
  padding-right: 725px;
  position: relative;
}
.slid1_text1 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.8px;
  text-align: left;
  color: #504949;
}
.slid1_main {
  margin: 0 auto;
  width: 1168px;
  height: 791px;
  background-image: url('./photo1.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}
.slid1_main_intro {
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 600;
  line-height: 96.88px;
  text-align: left;
  color: #504949;
}
.slid1_main_texts {
  width: 566px;
  height: 182px;
}
.slid1_main_text1 {
  margin-bottom: 10px;
}
.slid1_main_text1 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #504949;
}
.slid1_main_text2 {
  margin-top: 10px;
}
.slid1_main_text2 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #504949;
}
.slid1_main_numbers {
  width: 397px;
  height: 82px;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}
.slid1_main_numbers span {
  font-family: Cormorant;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.55px;
  text-align: left;
  color: #504949;
}
.slid1_main_numbers p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  text-align: left;
  color: #504949;
}
.slid1_main_intro2 {
  margin-top: 38px;
  margin-bottom: 17px;
  width: 517px;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #504949;
}
.slid1_main_numbers-2 {
  width: 489px;
  height: 246px;
  display: grid;
  justify-content: space-between;
}
.slid1_main_numbers-2_str {
  display: flex;
  gap: 23px;
}
.slid1_main_numbers-2_str p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #504949;
}
.slid1_main_numbers-2_str span {
  font-family: Cormorant;
  font-size: 50px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #504949;
}

.slid2 {
  margin: 0 auto;
  width: 100%;
  height: 2361px;
  background-color: #B59797;
}
.slid2_programa {
  margin: auto;
  width: 1144px;
  height: 254px;
  padding-top: 116px;
}
.slid2_programa_intro1 {
  width: 686px;
  height: 97px;
}
.slid2_programa_intro1 p {
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 600;
  line-height: 96.88px;
  text-align: left;
  color: white;
}
.slid2_programa_boxs {
  width: 1160px;
  height: 132px;
  display: grid;
  margin-top: 27px;
}
.slid2_programa_boxs-box1 {
  width: 1060px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
}
.slid2_programa_boxs-box1 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_programa_boxs-box2 {
  width: 1060px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.slid2_programa_boxs-box2 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_programa_boxs-plus {
  padding-right: 20px;
}
.slid2_center {
  width: 100%;
  margin: 160px auto 0 auto;
  background-color: #B59797;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slid2_center-right {
  background-color: #FBF6F6;
  width: 1417px;
  height: 1281px;
  margin-left: 120px;
}
.slid2_center_tarif {
  padding-top: 117px;
  padding-left: 73px;
}
.slid2_center_tarif p {
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 600;
  line-height: 96.88px;
  text-align: left;
  color: #504949;
}
.slid2_center_boxs {
  display: flex;
  gap: 40px;
  padding-left: 80px;
  padding-top: 27px;
}
.slid2_center_boxs-box1 {
  width: 560px;
  height: 364px;
  background-color: #B59797;
}
.slid2_center_boxs-box1_standart {
  padding-top: 39px;
  padding-left: 32px;
}
.slid2_center_boxs-box1_standart p {
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box1_list {
  width: 444px;
  height: 189px;
  padding-top: 10px;
  padding-left: 32px;
}
.slid2_center_boxs-box1_list-title {
  display: flex;
  gap: 8px;
}
.slid2_center_boxs-box1_list-title p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box1_list-price {
  padding-top: 15px;
  padding-left: 32px;
}
.slid2_center_boxs-box1_list-price p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box1_list-buy_btn {
  width: 245px;
  height: 55px;
  margin-left: 285px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBF5F5;
  border: 2px solid #8D6B5D;
}
.slid2_center_boxs-box2 {
  width: 560px;
  height: 364px;
  background-color: #B59797;
}
.slid2_center_boxs-box2_max {
  padding-top: 39px;
  padding-left: 32px;
}
.slid2_center_boxs-box2_max p {
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box2_list {
  width: 444px;
  height: 189px;
  padding-top: 10px;
  padding-left: 32px;
}
.slid2_center_boxs-box2_list-title {
  display: flex;
  gap: 8px;
}
.slid2_center_boxs-box2_list-title p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box2_list-price {
  padding-top: 15px;
  padding-left: 32px;
}
.slid2_center_boxs-box2_list-price p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: white;
}
.slid2_center_boxs-box2_list-buy_btn {
  width: 245px;
  height: 55px;
  margin-left: 285px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBF5F5;
  border: 2px solid #8D6B5D;
}
.slid2_center_kyrs-info {
  width: 626px;
  height: 24px;
  margin-top: 62px;
  margin-left: 80px;
}
.slid2_center_kyrs-info p {
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.22px;
  text-align: left;
  color: #504949;
}
.slid2_center_kyrs-info a {
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.22px;
  text-align: left;
  color: #504949;
}
.slid2_center_img-box {
  width: 662px;
  height: 320px;
  display: flex;
}
.slid2_center_img-box_img {
  width: 644px;
  height: 925px;
  margin-left: -100px;
  padding-top: 96px;
}
.slid2_center_img-box_texts {
  height: 280px;
  margin-left: 100px;
  margin-top: 118px;
}
.slid2_center_img-box_texts-intro {
  width: 662px;
  height: 60px;
}
.slid2_center_img-box_texts-intro p {
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #504949;
}
.slid2_center_img-box_texts-intro2 {
  margin-top: 22px;
  display: grid;
  gap: 10px;
}
.slid2_center_img-box_texts-intro2-str {
  display: flex;
  gap: 23px;
}
.slid2_center_img-box_texts-intro2-str p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #504949;
}
.slid2_center_img-box_texts-intro2-str span {
  font-family: Cormorant;
  font-size: 50px;
  font-weight: 400;
  line-height: 30.55px;
  text-align: left;
  color: #504949;
}
.slid2_center_img-box_texts-intro2-str k {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #504949;
}
.slid2_center_img-box_texts-intro3 {
  margin-top: 32px;
}
.slid2_center_img-box_texts-intro3 a {
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.22px;
  text-align: left;
  color: #504949;
}
.slid2_buttom {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 226px;
  margin-top: 163px;
  padding-left: 500px;
}
.slid2_buttom-boxs {
  gap: 20px;
  display: grid;
}
.slid2_buttom-box1 {
  width: 560px;
  height: 103px;
  background-color: #FBF5F5;
  border: 1px solid #504949;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slid2_buttom-box1 a {
  width: 560px;
  height: 103px;
  color: #504949;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.22px;
  text-align: left;
  text-decoration: none;
}
.slid2_buttom-box1 img {
  margin-right: 40px;
}
.slid2_buttom-box2 {
  width: 560px;
  height: 103px;
  background-color: #FBF5F5;
  border: 1px solid #504949;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slid2_buttom-box2 a {
  width: 560px;
  height: 103px;
  color: #504949;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cormorant;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.22px;
  text-align: left;
  text-decoration: none;
}
.slid2_buttom-box2 img {
  margin-right: 40px;
}

.slid3 {
  margin: 0 auto;
  width: 100%;
  height: 265px;
  background-color: #3C2A2A;
  display: flex;
}
.slid3_center {
  margin: auto;
  width: 1161px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slid3_center_numbers {
  display: flex;
  justify-content: space-between;
}
.slid3_center_numbers-1 {
  margin-right: 257px;
  width: 257px;
}
.slid3_center_numbers-1 p {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  color: #FBF6F6;
  margin-bottom: 19px;
  white-space: nowrap;
}
.slid3_center_numbers-2 {
  display: grid;
  width: 152px;
  text-align: center;
  margin-right: 263px;
}
.slid3_center_numbers-2-a {
  margin-top: 19px;
}
.slid3_center_numbers-2 a {
  white-space: nowrap;
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  color: #FBF6F6;
}
.slid3_center_numbers-3 {
  display: grid;
  white-space: nowrap;
  text-align: right;
}
.slid3_center_numbers-3 a {
  font-family: Cormorant;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.8px;
  text-align: right;
  color: #FBF6F6;
}

@media (max-width: 768px) {
  .slid1_container {
    padding-left: 0;
  }
  .slid1_btn:hover {
    color: #252222;
  }
  .slid1_main {
    background-position: center bottom;
  }
  .slid1_main_intro {
    font-size: 32px;
    line-height: 40px;
  }
  .slid1_main_numbers-2 {
    gap: 5px;
  }
}
